@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/ptsans-400.woff2);
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/ptsans-700.woff2);
    font-display: swap;
}
body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400px;
}
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.header {
    display: flex;
}
.logo {
    margin-left:70px;
    margin-right: 30px;
}
.main_menu_item {
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    box-sizing: border-box;
}
.main_menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 17px;
    gap: 34px;
    margin-right: 237px;
    margin-top:0px;
    margin-bottom:0px;
}
.main_item_current {
    border-bottom: 1px solid black;
}
.user_navigation_list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.user_navigation_item {
    padding: 10px 0px;
    width: 42px;
}
.user_navigation_item a {
    position: relative;
}
.user_navigation_search::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(images/search.svg);
}
.user_navigation_like::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 17px;
    background-image: url(images/favorite.svg);
}
.user_navigation_like::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #7DB54F;
    left: 10px;
    bottom: -9px;
}
.user_navigation_favoritenumber {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    left: 14px;
    bottom: -5px;
    z-index: 1;
}

.main_menu_item a {
    color: #000000;
    text-decoration: none;
}
.button_want {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
    border: none;
    padding: 9px 15px 8px 15px;
}
.background_text{
    background-color: black;
    background-image: url(images/index-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    padding: 51px 371px 82px 371px;
}
.background_text::before {
    display: block;
    content: "";
    position: absolute;
    left:0;
    right:0;
    top:430px;
    bottom:0;
    background-image: url(images/divider.svg);
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
}
.welcome_screen_img {
    display: block;
    margin: 0 auto;
}

.sedona_description {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 620px;
    margin: 0 auto;
    margin-top: 63px;
}
.sedona_cool {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    display: block;
    margin: 0 auto;
    margin-top: 31px;
}
.advantage_list {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.advantage_item {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
}
.advantage_item_bottom {
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
}
.advantage_item div {
    padding: 92px 85px;
}
.advantage_item h3 {
    margin:0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    width: 230px;
    margin-bottom: 30px;
}
.advantage_item span {
    margin-bottom: 30px;
    width: 230px;
    text-align: center;
}

.advantage_item p {
    margin:0px;
    margin-top: 30px; 
    text-align: center;
    width: 230px;

}
.advantage_item_middle {
    background: rgba(131, 179, 211, 0.2);
}
.features_list {
    display: flex;
    list-style: none;
    padding: 0px;
    width:100%;
}
.features_item {
    padding: 80px 85px 81px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}
.features_item_middle {
    background-color: #fff;
}

.features_item_header {
    width: 230px;
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
    
}
.features_item_text {
    color: #333333;
    width: 230px;
    margin: 0 auto;
    margin-top: 30px;
}
.hotel_sedona_search {
    padding: 91px 313px 93px;
}
.hotel_sedona_search p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin:0 auto;
}
.hotel_sedona_search span {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    display: block;
    width: 592px;
    margin: 0 auto;
    padding: 0;
    margin-top: 29px;
}
.hotel_search_button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    width: 574px;
    text-transform: uppercase;
    background-color: #756157;
    color:#fff;
    display: block;
    margin: 0 auto;
    border: 0;
    margin-top: 56px;
    padding: 12px 15px;
}
.subscribe {
    padding: 94px 200px;
    background-image: url(images/subscribe-backround.jpg);
    background-repeat: no-repeat;
    color: #fff;
}
.subscribe_catalog {
    background-image:none;
    background-color: #fff;
    color: #000000;
}
.subscribe h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}
.subscribe p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 475px;
    margin: 0 auto;
    margin-top: 29px;
}
.email_subscribe {
    width: 600px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 22px;
    padding-top: 20px;
    padding-bottom: 19px;
}
.subscribe_form {
    margin-top: 45px;
    display: flex;
}
.email_submit {
    width: 200px;
    background: #82B3D3;
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    padding: 12px 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}
.wrapper {
    max-width: 1200px;
    width:100%;
    margin:0 auto;
}
.social_list {
    list-style: none;
    display: flex;
}
.social_list li {
    position: relative;
    width: 47px;
}
.vkontakte_link::before {
    display: block;
    content:"";
    width: 24px;
    height: 14px;
    position: absolute;
    background-image: url(images/social-vector/Vector.svg);
}
.telegram_link::before {
    display: block;
    content:"";
    width: 18px;
    height: 15px;
    position: absolute;
    background-image: url(images/social-vector/Vector-1.svg);
}
.youtube_link::before {
    display: block;
    content:"";
    width: 22px;
    height: 17px;
    position: absolute;
    background-image: url(images/social-vector/Vector-2.svg);
}
.main_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
.contact_phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color:#000000;
    text-decoration: none;
}
.hotel_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 18px;
}
.hotel_list_item {
    width: 340px;
}

.hotel_filters {
background-image: url(images/hotel-filters.jpg);
background-repeat: no-repeat;
}
.hotel_filters h2 {
    margin: 0px;
}