.welcome_screen {
    background-image: url(images/index-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.welcome_screen_img {
    display: block;
    margin: 0 auto;
}
.subscribe {
    background-image: url(images/subscribe-backround.jpg);
    background-repeat: no-repeat;
}
.wrapper {
    max-width: 1280px;
    width:100%;
    margin:0 auto;
}
.hotel_filters {
background-image: url(images/hotel-filters.jpg);
background-repeat: no-repeat;
}